@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
// @import 'antd/dist/antd.css';


*{
    font-family:  'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}